.header__inner-container {
  width: 80vw;
}
.header__logo-user-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.logo-container {
  width: 75px;
  margin-left: 15px;
}

@media (max-width: 760px) {
  .logo-container {
    width: 50px;
    margin-left: 5px;
  }

  .header__logo-user-container {
    flex-direction: column;
    align-items: center;
  }
}
