.current-topics__medical-research-slider {
  display: flex;
  justify-content: center;
}

@media (max-width: 760px) {
  .current-topics__medical-research-slider {
    flex-direction: column;
  }
}
.slide {
  flex: 1;
}

.slide__image {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.slide__title {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 15px;
}

.slide__text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 45px;
}

.slide__button {
  text-decoration: none;
}

.medical-research-slider__slide {
  position: relative;
  height: 400px;
}

.slide__item-content-container {
  position: absolute;
  top: 50%;
  left: 15px;
}
